<!DOCTYPE html>
<html>
<head>
  <title>About</title>
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="main-content">
    {{>header}}
    <img src="/img/me.jpg" class="portrait">
    <p>This site was created by Conner Krall. It uses data from <a href="https://www.mapbox.com/" target="_blank">mapbox</a> and <a href="https://weatherstack.com/" target="_blank">weatherstack</a>.</p>
  </div>
  
  {{>footer}}
</body>
</html>